# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# VS Code/Cursor
.vscode/
.cursor/
*.ans
*.ansi

# ZSH
.zsh_history
.zcompdump*
.zshrc
.zsh_sessions/

# Pycache
__pycache__/

# Histórico
historico/